{
  "extends": "stylelint-config-standard",
  "rules": {
    "block-opening-brace-space-before": "always",
    "declaration-block-trailing-semicolon": "always",
    "font-family-no-missing-generic-family-keyword": null
  }
}
