.metadata {
  .flexBetween {
    display: flex;
    justify-content: space-between;
  }

  .title {
    margin: 0 0 12px;
    padding: 0;
    font-size: var(--preview-font-size-display-1);
    font-weight: 600;
    line-height: 1.3;
    color: var(--preview-color-text-1);
  }

  .descriptions {
    margin: 0 0 16px;
    font-size: var(--preview-font-size-body-3);
    line-height: 1.5;
    color: var(--preview-color-text-2);
  }

  .bottomWrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  .labels {
    display: flex;
    align-items: center;
    font-size: var(--preview-font-size-body-3);
    color: var(--preview-color-text-3);

    :global(.arco-icon) {
      margin-right: 8px;
    }
  }

  .rightWrapper {
    display: flex;
    justify-content: center;

    > * {
      margin-left: 12px;
    }

    .extraStyleSelect {
      display: inline-flex;
      width: auto;

      :global(.arco-select-prefix) {
        margin-right: 8px;
      }

      :global(.arco-select-suffix) {
        margin-left: 8px;
      }
    }

    .usage {
      display: inline-flex;
      align-items: center;
      height: 32px;
      padding: 0 12px;
      border-radius: 2px;
      background: var(--color-fill-2);
      color: var(--color-text-1);
    }
  }
}
