.metadata {
  padding: 20px 0 8px;

  .flexBetween {
    display: flex;
    justify-content: space-between;
  }

  .title {
    margin: 0 0 20px;
    padding: 0;
    font-size: var(--preview-font-size-display-1);
    font-weight: 700;
    line-height: 1;
    color: var(--preview-color-text-1);
  }

  .descriptions {
    margin: 0 0 16px;
    font-size: var(--preview-font-size-body-2);
    line-height: 1.5;
    color: var(--preview-color-text-2);
  }

  .labels {
    display: flex;
    margin: 0;
    padding: 0;
    font-size: var(--preview-font-size-body-1);
    line-height: 1;
    list-style: none;

    .label {
      margin-right: 1em;
      margin-bottom: 1em;
      padding: 4px 8px;
      border-radius: 6px;
      color: var(--preview-color-text-2);
      font-weight: 600;
      background: #dde6fc;
    }
  }

  .usage {
    display: flex;
    justify-content: flex-end;
  }
}
