@import 'highlight.less';
@import '../CodeBlockWrapper/style/index.less';
@import '../Browser/style/index.less';

.ac-toolbar {
  position: absolute;
  top: 120px;
  right: 56px;

  .changelog-btn {
    margin-left: 10px;
  }
}

.ac-usage {
  width: 880px;
  padding-top: 48px;
}
