.changelog-header {
  margin-bottom: 20px;
}

.changelog-content {
  padding: 0 20px;

  .changelog-list {
    list-style: circle;
  }

  .changelog-type {
    font-weight: 600;

    &-icon {
      margin-right: 6px;
    }
  }

  .changelog-text {
    code {
      font-family: Menlo, Consolas;
      font-size: 12px;
      color: var(--color-text-2);
      border: 1px solid var(--color-neutral-2);
      background-color: var(--color-neutral-2);
      padding: 2px 8px;
      border-radius: 2px;
      margin: 0 4px;
    }
  }
}